# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments 
.env 
.venv
env/
ENV/

# Ignore debug config 
config.yml

# docker-compose
docker-compose.prod.yml

# Makefile
Makefile